! >>xrdb -merge .Xresources; urxvt

Xcursor.theme: DMZ

URxvt.scrollBar: false
URxvt.internalBorder: 12
URxvt.boldFont:
URxvt.font: 7x13

#define _color0        #000000
#define _color8        #151617
#define _color1        #f92672
#define _color9        #f92672
#define _color2        #a6e22e
#define _color10       #a6e22e
#define _color3        #e6db74
#define _color11       #fd971f
#define _color4        #66d9ef
#define _color12       #66d9ef
#define _color5        #ae81ff
#define _color13       #ae81ff
#define _color6        #75715e
#define _color14       #75715e
#define _color7        #f8f8f2
#define _color15       #f8f8f2
#define _colorBD       #cc0000
#define _colorUL       #cc0000
#define _colorIT       #cc0000
#define _foreground    #f8f8f2
#define _background    #000000
#define _cursorColor   #f8f8f2
URxvt*color0         : _color0
URxvt*color1         : _color1
URxvt*color2         : _color2
URxvt*color3         : _color3
URxvt*color4         : _color4
URxvt*color5         : _color5
URxvt*color6         : _color6
URxvt*color7         : _color7
URxvt*color8         : _color8
URxvt*color9         : _color9
URxvt*color10        : _color10
URxvt*color11        : _color11
URxvt*color12        : _color12
URxvt*color13        : _color13
URxvt*color14        : _color14
URxvt*color15        : _color15
URxvt*colorBD        : _colorBD
URxvt*colorIT        : _colorIT
URxvt*colorUL        : _colorUL
URxvt*foreground     : _foreground
URxvt*background     : _background
URxvt*cursorColor    : _cursorColor
